img {
	width:100%;
	height:80%;
}


.row {
	margin-top: 10%;
	margin-bottom: 10%;
}

.previous {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 5% 5%;
  cursor: pointer;
  position: absolute;
  bottom: 10%;
  left: 10%;
  
}

.publisher_add {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  position:absolute;
  top:20%;
  right:8%;
}


.container_form {
  width: 100%;
  clear: both;
}

.container_form input {
  width: 100%;
  clear: both;
}

input[type=text]{
  width: 30%;
  padding: 20px 25px;
  margin: 15px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=number]{
  width: 30%;
  padding: 20px 25px;
  margin: 15px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  font-size:25px;
  width: 20%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position:absolute;
  right:8%;
  bottom:10%;
}

.options {
  margin-left: 85%;
  margin-top: 0;
  padding-top: 0;
  display: inline;
}

#option1 , #option2 {
  margin: 0 0;
}

#hidden_help, #hidden_help2, #hidden_help3 {
  font-size: 20px;
}
#hidden_info {
  font-size: 15px;
  border-style: ridge;
  border-color: green;
  border-width: 3px;  
}

.clickable_help{
  font-size: 20px;
}

.book_list {
  text-align:left;
  padding: 5%;
  margin: 3%;
  font-size: 20px;

}